### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [2]:
print(purchase_data.columns)
file = purchase_data.drop_duplicates("SN")
SNcount = file["SN"].count()
totalnumberofplayers = pd.DataFrame({"Total # of Players": [SNcount]})
totalnumberofplayers

purchase_data

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
items = len(purchase_data["Item ID"].unique())
avgprice = purchase_data["Price"].mean()
purchases = purchase_data["Purchase ID"].count()
totalrevenue = purchase_data["Price"].sum()

panalysis = pd.DataFrame({"Number of Unique Items": [items],
                         "Average Price": [avgprice],
                         "Number of Purchases": [purchases],
                         "Total Revenue": [totalrevenue]})

panalysis["Average Price"] = panalysis["Average Price"].map("${:.2f}".format)
panalysis["Total Revenue"] = panalysis["Total Revenue"].map("${:.2f}".format)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gendergrouped = file.groupby(["Gender"])
gender = gendergrouped["SN"].count()
genderpercent = gender.div(SNcount)*100

gdemographics = pd.DataFrame({"Total Count" : gender, "Percentage of Players" : genderpercent})

gdemographics["Percentage of Players"] = gdemographics["Percentage of Players"].map("{:.2f}%".format)

gdemographics

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchasecount = purchase_data["Gender"].value_counts()
general_gendergrouped = purchase_data.groupby(["Gender"])
totalpurchase = general_gendergrouped["Price"].sum()
g_avgprice = totalpurchase / purchasecount
purchase_per_person = totalpurchase / gender

ganalysis = pd.DataFrame({"Purchase Count" : purchasecount, "Average Purchase Price" : g_avgprice, "Total Purchase Value": totalpurchase, "Avg Total Purchase Per Person": purchase_per_person})

ganalysis["Average Purchase Price"] = ganalysis["Average Purchase Price"].map("${:.2f}".format)
ganalysis["Total Purchase Value"] = ganalysis["Total Purchase Value"].map("${:.2f}".format)
ganalysis["Avg Total Purchase Per Person"] = ganalysis["Avg Total Purchase Per Person"].map("${:.2f}".format)

ganalysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
groupnames = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"]
file["Age Range"] = pd.cut(file["Age"], bins, labels=groupnames)
file_df = file.groupby("Age Range")
file_df = file_df["SN"].count()
percent = (file_df / SNcount)*100
agedemo = pd.DataFrame({"TotaL Count": file_df, "Percentage of Players" : percent})

agedemo["Percentage of Players"] = agedemo["Percentage of Players"].map("{:.2f}%".format)

agedemo

C:\Users\16314\Anaconda3\envs\pandas\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

           TotaL Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
groupnames = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"]
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=groupnames)
groupedpurchase_data = purchase_data.groupby("Age Range")
purchasecount_df = groupedpurchase_data["Purchase ID"].count()
totalpurchasevalue = groupedpurchase_data["Price"].sum()
avgpurchaseprice = (totalpurchasevalue)/(purchasecount_df)
avgpurchaseperperson = totalpurchasevalue/file_df

page_analysis = pd.DataFrame({"Purchase Count":purchasecount_df, "Average Purchase Price": avgpurchaseprice, "Total Purchase Value": totalpurchasevalue, "Avg Total Purchase Per Person":avgpurchaseperperson})

page_analysis["Average Purchase Price"] = page_analysis["Average Purchase Price"].map("${:.2f}".format)
page_analysis["Total Purchase Value"] = page_analysis["Total Purchase Value"].map("${:.2f}".format)
page_analysis["Avg Total Purchase Per Person"] = page_analysis["Avg Total Purchase Per Person"].map("${:.2f}".format)
page_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
SNgrouped = purchase_data.groupby(["SN"])
SNpurchase_data = purchase_data["SN"].value_counts()

purchasecount_ts = pd.DataFrame({"Purchase Count": SNpurchase_data})
SN_totalpurchasevalue = SNgrouped["Price"].sum()
SNavg_purchaseprice = SN_totalpurchasevalue/SNpurchase_data

SN_df = pd.DataFrame({"Purchase Count":SNpurchase_data, "Average Purchase Price":SNavg_purchaseprice, "Total Purchase Value":SN_totalpurchasevalue})
SN_sorted = SN_df.sort_values("Purchase Count",ascending=False) 

SN_sorted["Average Purchase Price"] = SN_sorted["Average Purchase Price"].map("${:.2f}".format)
SN_sorted["Total Purchase Value"] = SN_sorted["Total Purchase Value"].map("${:.2f}".format)

SN_sorted.head(10)

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11
Aina42                    3                  $3.07                $9.22
Ilarin91                  3                  $4.23               $12.70
Idai61                    3                  $2.74                $8.23
Umolrian85                3                  $2.71                $8.13
Ialallo29                 3                  $3.95               $11.84

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
Item_pulled_data = purchase_data[["Item ID", "Item Name","Price"]]
Item_pulled_data.head(10)

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44
5       81                                  Dreamkiss   3.61
6      169     Interrogator, Blood Blade of the Queen   2.18
7      162                              Abyssal Shard   2.67
8       21                                  Souleater   1.10
9      136               Ghastly Adamantite Protector   3.58

In [101]:
Itemgrouped = Item_pulled_data.groupby(["Item ID", "Item Name"])

Item_df = Itemgrouped.agg({"Price":["sum","count"]})
Item_df = Item_df.reset_index()
Item_df= Item_df.columns.droplevel(0)


Item_df.columns = ["Item ID", "Item Name", "Count", "Sum"]
Item_df["Item Price"] = Item_df["sum"]/Item_df["count"]


print(Item_df)



Itempurchase_count = Itemgrouped["Item ID"].count()
Item_totalpurchasevalue = Itemgrouped["Price"].sum()
Item_avgprice = Item_totalpurchasevalue/Itempurchase_count

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [37]:
Itemgrouped = Item_pulled_data.groupby(["Item ID", "Item Name"])
Itempurchase_count = Itemgrouped["Item ID"].value_counts()
Item_totalpurchasevalue = Itemgrouped["Price"].sum()



Item_df = pd.DataFrame({"Purchase Count":Itempurchase_count, "Item Price":Item_avgprice, "Total Purchase Value":Item_totalpurchasevalue})
Item_sorted = Item_df.sort_values("Purchase Count",ascending=False)

Item_sorted.head(10)

RecursionError: maximum recursion depth exceeded in __instancecheck__

In [ ]:
Item_sorted = Item_df.set_index(["Item ID", "Item Name"])
"Item ID":Item ID, "Item Name": Item Name,

In [ ]:

Itempurchase_count_df = pd.DataFrame({"Purchase Count": Itempurchase_count})





Itemcount_mp = pd.DataFrame({"Purchase Count": Itempurchase_data})

#Itemavg_purchaseprice = Item_totalpurchasevalue/Itemcount_mp

#Itemavg_purchaseprice

Item_totalpurchasevalue


SNgrouped = purchase_data.groupby(["SN"])
SNpurchase_data = purchase_data["SN"].value_counts()

purchasecount_ts = pd.DataFrame({"Purchase Count": SNpurchase_data})
SN_totalpurchasevalue = SNgrouped["Price"].sum()
SNavg_purchaseprice = SN_totalpurchasevalue/SNpurchase_data



SN_sorted["Average Purchase Price"] = SN_sorted["Average Purchase Price"].map("${:.2f}".format)
SN_sorted["Total Purchase Value"] = SN_sorted["Total Purchase Value"].map("${:.2f}".format)

SN_sorted.head(10)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame